[user]
	name = Trinh Hai-Anh
         email = trinh.haianh@skunkworks.vn
[core]
	pager = cat
[alias] 
	a = add -A
	amend = !git commit --amend -m \"$(cat $(git rev-parse --show-toplevel)/.git/COMMIT_EDITMSG)\"
	b = branch
	c =  commit
	co = checkout
	cp = cherry-pick
	d = diff
	dw = diff --color-words
	dc = diff --cached
	ds = diff --stat
	dt = describe --tags
	fp = format-patch
	g = grep
	l = log --pretty=tformat:'%h %an: %s'
	ld = log --pretty=tformat:'%h %an: %s'  --since='12 hours ago'
	ly = log --pretty=tformat:'%h %an: %s'  --since=yesterday
	lp = log --pretty=tformat:'%h %an: %s'  -p --reverse
	ls = ls-files
	mt = mergetool
	s = status
	sd = svn dcommit
	sr = svn rebase
	ss = show --stat
	root = git rev-parse --show-toplevel
	rank = shortlog -sn --no-merges
	w = whatchanged --reverse
[merge]
	summary = true
	tool = "p4merge"
[mergetool "p4merge"]
	cmd = /usr/local/bin/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepBackup = false
	trustExitCode = false
[color]
	diff = auto
	interactive = auto
[grep]
	lineNumber = true
	extendedRegexp = true
